:root{
	--primary-color: #000000;
	--primary-color-dark: #000000;
	--secondary-color: #ff4e05;
	--text-dark: #0d1319;
	--text-light: #9ca3af;
	--extra-light: #088F8F;
	--max-width: 1200px;
}

*{
	padding: 0;
}
body{
	font-family: "Poppins", sans-serif;
}

nav{
	width:100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #ffffff;
	z-index: 99;
}

.nav_content{
	max-width: var(--max-width);
	margin: auto;
	padding: 2.1rem 1rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

nav .checkbox{
	display: none;
}

nav input{
	display: none;
}

nav .checkbox i {
	font-size: 2rem;
	color: var(--primary-color);
	cursor: pointer;
}

ul{
	display: flex;
	align-items: center;
	gap: 1rem;
	list-style: none;
	transition: left 0.3s;
}

ul li a {
	padding: 0.5rem 1rem;
	border: 2px solid transparent;
	text-decoration: none;
	font-weight: 600;
	color: var(--text-dark);
	transition: 0.3s;
}

ul li a:hover{
	border-top-color: var(--secondary-color);
	border-bottom-color: var(--secondary-color);
	color: var(--secondary-color);
}

.section{
	background-color: var(--extra-light);
}


.section_container{
	min-height: 100vh;
	max-width: var(--max-width);
	margin: auto;
	padding: 1rem;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 4rem;
}

.content{
	display: flex;
	flex-direction: column;
	justify-content: center;
}


.title{
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 3rem;
	color: var(--text-dark);
	margin-bottom: 1rem;
}

.title span{
	font-weight: 600;	
}

.description{
	line-height: 1.5rem;
	color: var(--text-light);
	margin-bottom: 2rem;
}

.image{
	display: grid;
	place-items: center;
}
.image img{
	width: min(20rem, 90%);
	border-radius: 100%;
}

footer{
	display: flex;
	justify-content: center;
}

.contact_container{
	padding: 6rem;
	display:grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 2rem;
}

.contact_content{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.contact_details{
	font-size: 0.8rem;
	color: var(--text-light);
	margin: 1rem 0;
	display: grid;
	gap: 1rem;
}

.social_icons{
	display: flex;
	align-items: center;
	gap: 1rem;
}

.social_icons .icon{
	padding: .5rem;
	border-radius: 5px;
	color: var(--white);
	background-color: var(--secondary-color-dark);
	transition: .3s;
	cursor: pointer;
}

.social_icons .icon:hover {
	background-color: var(--secondary-color);
}

.contact_form{
	display: grid;
	padding: 2rem;
	gap: 1rem;
}

.contact_form :is(input, textarea){
	padding: 1rem;
	background-color: var(--text-dark);
	outline: none;
	border:none;
	border-radius: 5px;
	color: white;
}

.contact_form textarea {
	resize: none;
	font-family: "Poppins", sans-serif;

}

.contact_form button {
	width: max-content;
	background-color: var(--text-dark);
	border-radius: 5px;
	padding: 1px;
	color: ghostwhite;
}


*{
text-decoration: none;
}

.container{
	padding: 8rem 9%;
	padding-bottom: 100px;
}

.container .heading{
	text-align: center;
	color: #fff;
	text-shadow: 0 5px 10px rgba(0,0,0,.2);
	font-size: 40px;
	padding-bottom: 30px;
}

.container .box-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
	gap: 15px;
}

.container .box-container .box{
	box-shadow: 0 5px 10px rgba(0,0,0,.2);
	border-radius: 5px;
	background: #fff;
	text-align: center;
	padding: 30px 20px;
}

.container .box-container .box img{
	height: 100px;
}

.container .box-container .box h3{
	color: #444;
	font-size: 22px;
	padding: 10px 0;
}

.container .box-container .box p{
	color: #777;
	font-size: 15px;
	line-height: 1.8;
}

.container .box-container .box .btn{
	margin-top: 10px;
	display: inline-block;
	background: #333;
	color: #fff;
	font-size: 17px;
	border-radius: 5px;
	padding: 8px 25px;
}

.container .box-container .box .btn:hover{
	transition: .2s linear;
	letter-spacing: 1px;
}

.container .box-container .box:hover{
	box-shadow: 0 10px 15px rgba(0,0,0,.3);
	transition: .2s linear;
	transform: scale(1.03);
}

/*for video_demo*/
.all_container{
	padding: 2rem;
	text-align: center;
}

.all_container a{
	color: red;
}
.all_container .heading{
	font-size: 3rem;
	margin: 8rem 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: .2rem;
	text-align: center;
	text-shadow: 0 .3rem .5rem rgba(0,0,0, .5);
}

.video-container{
	display: flex;
	justify-content: center;
}

.video-container .video{
	height: 15rem;
	width: 25rem;
	box-shadow: 0 .5rem 1rem rgba(0,0,0, .5);
	overflow: hidden;
	border-radius:1rem;
}

iframe{
	border: none;
	width: 25rem;
	height: 15rem;

}


#section{
	padding: 4cm;
	text-align: center;
	max-width: 800px;
	margin: 0 auto;
	background-color: var(--extra-light);
}

#section h1, #section h2{
	text-align: center;
}

#section img{
	display: block;
	margin: 1cm auto;
	max-width: 100%;
}


@media (width < 770px){
	nav .checkbox{
		display: block;
	}

	ul{
		position: absolute;
		width: 100%;
		height: calc(100vh - 85px);
		left: -100%;
		top: 85px;
		background-color: var(--extra-light);
		flex-direction: column;
		justify-content: center;
		gap: 3rem;
	}

	nav #check:checked ~ ul{
		left:0;
	}

	ul li a{
		font-size: 1.25rem;
	}

	.section_container{
		padding: 10rem 1rem 5rem 1rem;
		text-align: center;
		grid-template-columns: repeat(1, 1fr);
	}

	.image {
		grid-area: 1/1/2/2;
	}

	footer{
		display:none;
	}

	.contact_container{
		grid-template-columns: repeat(1, 2fr);
	}

.container{
	padding: 20px;
}
.container .heading{
	padding:80px;
}

}

